/* pages/globals.css atau src/globals.css, tergantung di mana Anda menaruhnya */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"); */
@import url("https://fonts.cdnfonts.com/css/sora");

body {
  font-family: "Sora Variable", sans-serif;
}
a {
  font-weight: 200;
}

.page-center {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
